$black2:#292929;
$granate:#800404;
$primary:#293965;
$insta:#FFC160;
$face:#41B5FF;
$wtp:#4AD675;
$youtube:#FF5959;
$warning:#FFA92F;
$danger:#b9133d;
$info:#00b379;
//importando Bootstrap
@import 'bootstrap/bootstrap.scss';

//configuracion general del sitio
body{
	font-family: 'Montserrat', sans-serif;
	color:$black2;
	background-color: white;
}

header{
	.row{
		margin: 0;
		.text-uni{
				font-weight: bold;
		}
	}
}
.wd-90{
	max-width: 90% !important;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
.logo{
	height: 4.5rem;
	text-align: center;
}
.logo-menu{
	height: 2rem;
}
.color-granate{
	color: $granate;
}
.color-institucional{
	color:$primary;
}
.bg-institucional{
	background-color: $primary;
}
.icon-social{

	a{
		color: white;
		font-size: 1.5rem;
		margin: 0 0.5rem;
	}
	
	.facebook:hover{
		color: $face;
	}
	.instagram:hover{
		color: $insta;
	}
	.whatsaap:hover{
		color:$wtp;
	}
	.youtube:hover{
		color:$youtube;
	}
}

.enlaces{
	border-bottom:1px solid $black2 ;
	margin: 0.5rem 0;
	.fill-enlaces{
		margin: 0.3rem 0;
	}
	.icon-enlace{
		color: $primary;
		padding: 0.5rem 0;
		&:hover{
			color: white;
			text-decoration: none;
			background-color: $primary;
			border-radius: 0.2rem;
		}
	}
	.enlace-text{
		margin: 0.4rem 0;
		font-size: 80%;
	}
}
.areas{
	.row{
		.area-content{
			.card{
				margin: 1rem 0;
				.area-img{
					filter: grayscale(0%);
					transition: 0.8s;
					&:hover{
						filter: grayscale(100%);
					}
				}
			}
		}
	}
}

.servicios{
	margin: 1rem 0;
	.carousel-indicators{
		li{
			background-color: $primary;
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 50%;
		}
	}
}
footer{
	.footer-divider{
		border-color:#ffffffcc;
	}
	.logo-footer{
		margin-bottom: 1rem;
	}
}

